$color-white: #ffffff;
$color-black: #2D3436;
$color-gray-dark: #5C5C5C;
$color-gray: #858585;
$color-gray-light: #ADADAD;
$color-gray-soft: #C2C2C2;
$color-blue-dark: #0984E3;
$color-blue-light: #74B9FF;
$color-green-dark: #00B894;
$color-green-light: #55EFC4;
$color-Yellow-dark: #FDCB6E;
$color-Yellow-light: #FFEAA7;
$color-Red-dark: #D63031;
$color-Red-light: #FF7675;
$color-Purple-dark: #6C5CE7;
$color-Purple-light: #A29BFE;
$color-pink-dark: #E84393;
$color-pink-light: #FD79A8;
$font-family-b: InterB, sans-serif;
$font-family-m: InterM, sans-serif;
$font-family-r: InterR, sans-serif;
$font-family-l: InterL, sans-serif;
$animation-speed: .3s;
$animation-fun: ease;
$animation: $animation-speed $animation-fun;